body {
  background: radial-gradient(circle, #892f2f 0%, #441c1c 100%);
  display: flex;
  flex-direction: column; /* <-- This makes children stack vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  position: relative;
}

.board {
  background: black;
  padding: 30px;
  border: 8px solid #c9c851;
  border-radius: 12px;
  outline: 6px solid #4535b1;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
}

.flip-card {
  perspective: 1500px;
  margin: 10px;
}

.flip-inner {
  position: relative;
  width: 280px;
  height: 80px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);
}

.box {
  width: 280px;
  height: 80px;
  border: 4px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  cursor: pointer;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: linear-gradient(to bottom, #3399ff, #003366);
  color: white;
  z-index: 2;
}

.back {
  background: #ffee00;
  color: black;
  transform: rotateY(180deg);
  z-index: 1;
}
.XX {
  margin-top: 50px;
  font-size: 32px;
  color: red;
  background-color: #441c1c;
  border: 2px solid black;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}

.scoreboard {
  position: fixed;
  bottom: 0;
  width: 200px;
  padding: 10px;
  color: white;
  background: #333;
  text-align: center;
  font-size: 1.2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.point-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 20px;
  gap: 20px;
}

.point-box {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.point-btn {
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.point-btn:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#xtext {
  color: red;
  /*font-size: 30px;*/
  visibility: visible;
  transition: all 0.5s ease;
  z-index: 1; 
}

h2 {
  margin: 0px;
  font-size: 40px;
}


.fullscreen {

  font-size: 8rem;
  z-index: 9999;
}